# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**node_modules/**
dist
dist-ssr
*.local
src/key.ts
dist
**.env**
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
22ass/example/supabase/.gitignore
22ass/example/src/lib/supabase.ts
22ass/example/supabase/seed.sql
19ass/vite-example/src/supabaseClient.ts
19ass/vite-example/src/schema.ts
22ass/example/schema.ts
22ass/example/src/lib/schema.ts
22ass/example/schema.ts
