body {
  margin: 0px;
}

.navbar {
  background-color: aqua;
  height: 20vh;
  display: flex;
}
.nav_profile_pic {
  height: 20vh;
  /* max-width: 30%;
  min-width: 10%;
  width: 20%; */
  width: clamp(15%, 150px, 20%);
  object-fit:cover;
}
.nav_title {
  flex: 1;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.nav_links {
  width: 15%;
  display: grid;
  place-content: center;
  height: 100%;
  /* grid-template-columns: (auto-fit, 70px) ; */
  /* grid-template-columns: repeat(auto-fill, 300px) ; */
  grid-template-columns: repeat(auto-fill, 70px);
  gap: 10px;
}
.nav_links > a {
  height: 100%;
  width: 100%;
}
svg {
  /* color: red; */
  /* background: blue; */
  fill: blueviolet;
  transition: 0.5s cubic-bezier(0, 1.36, 1, 2.5);
  transform: scale(2);

}
svg:hover {
  fill: brown;  
  /* height: 48px; */

}
.project {
  /* height: 500px; */
  /* float: left;  */
  display: flex;
  align-items: center;

}

.project > div > img {
  height:30vh;
}
.project_title {
  text-align: center;
  font-size: 3rem;
}
.project_description {
  font-size: 1.5rem;
}