
:root {
    --baseWidthNavigation: 50px; 
    --transitionTime: 700ms ease-in-out;
}
body {
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
}
.body > div {
    height: 50vh;
}

#navbar {
    background-color: rgba(30, 30, 30, 0.85);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--baseWidthNavigation);
    justify-content: space-between;
}
.nav-bar-el {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}
.nav-bar-el> a {
    text-decoration: none;
    border: 2px solid black;
    height: 10vh;
    display: grid;
    place-items: center; 
    border-radius: 15px;
    transition: 700ms ease-in-out;
}
.nav-bar-el> a:hover {
    color: red;
    transform: rotate(360deg);
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: #264de4;
}
.body {
    margin-left: var(--baseWidthNavigation);
}
.tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.tech > div > i {
    transition: var(--transitionTime);
    font-size: 3rem;
}

.js-icon:hover {
    color: #F0DB4F;
}
.react-icons:hover {
    color: #61dbfb;
    transform: scale(1.1) rotate(180deg);
}
.node-icons:hover {
    color: #68a063
}
.css-icons:hover {
    color: #264de4;
}
.about {
    background-color: cornflowerblue;
    transition: var(--transitionTime);
}
.about:hover  ~ #mydiv {
    background-color: #db23f79b;
    height: 30vh;
    font-size: 3rem;    
}
.about-content {
    background-color: #ef4141cd;
}
.tech > div {
    display: grid;
    place-items: center;
    font-size: 1.5rem;

}
.tech > div > div {
    display: block;
    transition: var(--transitionTime);
    opacity: 0;
}
.tech > div:hover div {
    opacity: 1;
}

