.myDiv {
    background-color: burlywood;
    font-size: 2rem;
    color: black;
    /* transition: background-color 2s linear;
    transition: font-size 2s linear; */
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: cubic-bezier(0, 0, 1,-0.84); */
    /* transition-timing-function: cubic-bezier(0, 0, 0, 2.24); */
}
.myDiv:hover {
    background-color: red;
    color: blue;
    font-size: 3rem;
}

/*
.transformed {
  transform: translate(50px, 100px) rotate(45deg) scale(1.5);
}
*/
.transformImg {
    /* transform: translate(50px, 100px) rotate(45deg) scale(1.5); */
    margin-top: 35px;
    background-color: antiquewhite;
}
.transformImg:hover {
    /* animation: rotation 3s 2 linear; */
    animation: rotation 3s infinite linear;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
        /* transform: rotate(0deg) scale(1); */
        /* transform: scale(1); */
        /* transform: skew(0deg,0deg); */
    }
    to {
        transform: rotate(359deg);
        /* transform: rotate(359deg) scale(2); */
        /* transform: scale(2); */
        /* transform: skew(25deg,45deg); */
    }
}
/* @keyframes rotation {
    from {
        transform: skew(0deg,0deg);
    }
    50% {
        transform: skew(25deg,45deg);
    }
    to {
        transform: skew(0deg,0deg);
    }
} */
#fname:focus {
    background-color: green;
}
.textG {
    font-size: 90px;
    background: #0007CF;
    background: linear-gradient(to right, #0007CF 0%, #CF1512 31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}