html {
    font-family: sans-serif;
    font-size: 14px;
  }
  
  table {
    border: 1px solid lightgray;
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td:last-child {
    border-right: 0;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }


  /* This is the table wrapper - it needs to have a fixed width and overflow-x set */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

/* These are the sticky columns */
.sticky-col-1 {
    position: sticky;
    left: 0; /* This is the first column, so it's 0 from the left */
    z-index: 1; /* This is to make sure it's on top of the other columns */
    background-color: rgb(222, 9, 9); /* Add this so content under the sticky columns doesn't show through */
}

.sticky-col-2 {
    position: sticky;
    left: 550px; /* Assuming the first sticky column is 100px wide */
    z-index: 1;
    background-color: rgb(203, 23, 253);
}
