main {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    color: white;
}
button {
    font-size: 1.5rem;
    margin: 1rem;
    background-color: red;
}
.container {
    padding: 10px;
    background-color: #cccccca8;
}